<div class="register-wrapper" >
    <h2 class="register-title-main">REGISTER</h2>
    <form class="register-form">
      
      <div class="form-row">
        <div class="form-column">
          <label for="email">Email</label>
          <input type="email" id="email" placeholder="Email" />
  
          <label for="password">Password</label>
          <input type="password" id="password" placeholder="Password" />
  
          <label for="repeat-password">Repeat password</label>
          <input type="password" id="repeat-password" placeholder="Repeat password" />
        </div>
  
        <div class="form-column">
          <label for="firstname">Firstname</label>
          <input type="text" id="firstname" placeholder="Firstname" />

          <label for="lastname">Lastname</label>
          <input type="text" id="lastname" placeholder="Lastname" />
       
          <label for="organization">Organization</label>
          <select id="organization" [(ngModel)]="selectedOrganization" name="organization">
            <option value="" disabled selected>Select organization</option>
            <option *ngFor="let org of organizations" [value]="org">{{ org }}</option>
          </select>  
        </div>
      </div>
  
      <div class="form-footer">
        <button type="button" class="next-button" (click)="onRegister()">REGISTER</button>
        <div class="login-link">
          <span>Already have account?</span>
          <span class="login-text" routerLink="/login">Login</span>
        </div>
      </div>
    </form>
  </div>
